@use "variables" as v;

.pagina_clases{
    display: grid;
    grid-template-columns: 1fr 2fr;

    h2{
        font-size: 4.5rem;
        color: v.$colorbotonprimero;
        margin: 5px;
        text-shadow: 0 0 20px black;

    }
    button{
        background-image: url(../img/fondo_boton2.png);
        padding: 15px;
        margin-top: 5px;
        max-width: 250px;
        margin: 10px;

        a{
            display: inline-block;
            text-decoration: none;
            color: v.$colorterceraletra;
            font-size: 1.5rem;
            text-shadow: 0 0 20px black ;
            transition: transform 0.5s ease-in-out;
            &:hover{
                transform: scale(1.1);
                color: v.$colorbotonprimero;

            }

        }
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 300px;
        gap: 100px;
        .crossfit_clase{
            grid-column: 1/2;
            padding: 20px;
            list-style: none;
            
            img{
                width: 300px;
                height: 400px;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 0 10px #252525;
                transition: all 0.2s ease-in-out;
                &:hover{
                    filter: brightness(1.2);
                }
            }
                h3{
                    font-size: 2rem;
                    color: v.$colorbotonprimero;
                    }
                    p{
                        font-size: 1.2rem;
                        color: v.$colorsegundaletra;
                    }
                }

                .hybrid_clase{
                    grid-column: 2/3;
                    padding: 20px;
                    list-style: none;
            img{
                width: 300px;
                height: 400px;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 0 10px #252525;
                transition: all 0.2s ease-in-out;
                &:hover{
                    filter: brightness(1.2);
            }
        }
                h3{
                    font-size: 2rem;
                    color: v.$colorbotonprimero;
                 }
                    
                    p{
                        font-size: 1.2rem;
                        color: v.$colorsegundaletra;
                    }
                    }
                .levantamiento_clase{
                    grid-column: 1/2;
                    padding: 20px;
                    list-style: none;
            img{
                width: 300px;
                height: 400px;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 0 10px #252525;
                transition: all 0.2s ease-in-out;
                &:hover{
                    filter: brightness(1.2);
            }
        }
                h3{
                    font-size: 2rem;
                    color: v.$colorbotonprimero;

                }
                    p{
                        font-size: 1.2rem;
                        color: v.$colorsegundaletra;

                    }
                }
                .gimansio_clase{
                    grid-column: 2/3;
                    list-style: none;
                    padding: 20px;
            img{
                width: 300px;
                height: 400px;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 0 10px #252525;
                transition: all 0.2s ease-in-out;
                &:hover{
                    filter: brightness(1.2);
            }
        }
                h3{
                    font-size: 2rem;
                    color: v.$colorbotonprimero;
            }
                    p{
                        font-size: 1.2rem;
                        color: v.$colorsegundaletra;
                    }
        }
    }
}
