@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$colorprimeroletra:#F5F5F5;
$colorsegundaletra: #FAF9F6;
$colorterceraletra: #FBF6F0;
$colorbotonprimero: #F5C542;


*{
    font-family: "Bebas Neue";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-transform:capitalize;
    background-image: url(../img/fondo_pagina2.png);
    background-size: 100%;
}

@media (min-width: 320px) and (max-width: 430px){
    body{
        background-size:200%
    }
}
